<link rel="stylesheet" href="/CSS/header.css">
<header>
    <div class="nav">
        <div>
            <a href="/user/signout"><i class="fas fa-sign-out-alt"></i>  signout</a></br>
        </div>
    </div>
</header>